In [1]:
import requests as rq
from io import BytesIO
import pandas as pd

In [2]:
url = 'http://data.krx.co.kr/comm/fileDn/GenerateOTP/generate.cmd'
body = {
    'mktId': 'STK',
    'trdDd': '20240510',
    'money': 1,
    'csvxls_isNo': 'false',
    'name': 'fileDown',
    'url': 'dbms/MDC/STAT/standard/MDCSTAT03901'
}
headers = {'Referer' : 'http://data.krx.co.kr/contents/MDC/MDI/mdiLoader'}
otp = rq.post(url,body,headers = headers).text

url = 'http://data.krx.co.kr/comm/fileDn/download_csv/download.cmd'
body = {
    'code': otp
}
stock_ticker = rq.post(url,body,headers = headers)
ticker = pd.read_csv(BytesIO(stock_ticker.content) , encoding = 'EUC_KR')

In [3]:
ticker

       종목코드      종목명   시장구분    업종명      종가    대비   등락률           시가총액
0    095570   AJ네트웍스  KOSPI   서비스업    4945   135  2.81   223774893255
1    006840    AK홀딩스  KOSPI   기타금융   15320   -60 -0.39   202952634520
2    027410      BGF  KOSPI   기타금융    3770    45  1.21   360852302070
3    282330   BGF리테일  KOSPI    유통업  133600 -1600 -1.18  2309129841600
4    138930  BNK금융지주  KOSPI   기타금융    8640   210  2.49  2782844104320
..      ...      ...    ...    ...     ...   ...   ...            ...
949  079980      휴비스  KOSPI     화학    3730    20  0.54   128685000000
950  005010      휴스틸  KOSPI   철강금속    4570     0  0.00   256779502750
951  000540     흥국화재  KOSPI     보험    4280   110  2.64   274958520600
952  000545    흥국화재우  KOSPI     보험    6830  -150 -2.15     5245440000
953  003280     흥아해운  KOSPI  운수창고업    2760    85  3.18   663572721240

[954 rows x 8 columns]

# 코스피, 코스닥 종목코드 가져오기

In [4]:
def getKospi(date):
    url = 'http://data.krx.co.kr/comm/fileDn/GenerateOTP/generate.cmd'
    body = {
        'mktId': 'STK',
        'trdDd': date,
        'money': 1,
        'csvxls_isNo': 'false',
        'name': 'fileDown',
        'url': 'dbms/MDC/STAT/standard/MDCSTAT03901'
    }
    headers = {'Referer' : 'http://data.krx.co.kr/contents/MDC/MDI/mdiLoader'}
    otp = rq.post(url,body,headers = headers).text

    url = 'http://data.krx.co.kr/comm/fileDn/download_csv/download.cmd'
    body = {
        'code': otp
    }
    stock_ticker = rq.post(url,body,headers = headers)
    ticker = pd.read_csv(BytesIO(stock_ticker.content) , encoding = 'EUC_KR')
    ticker['종목코드 + 날짜'] = ticker['종목코드']+'/'+date
    ticker = ticker.drop('종목코드',axis = 1)
    ticker = ticker[['종목코드 + 날짜', '종목명', '시장구분', '업종명', '종가', '대비', '등락률', '시가총액']]
    return ticker

In [5]:
def getKosdak(date):
    url = 'http://data.krx.co.kr/comm/fileDn/GenerateOTP/generate.cmd'
    body = {
        'mktId': 'KSQ',
        'segTpCd': 'ALL',
        'trdDd': date,
        'money': 1,
        'csvxls_isNo': 'false',
        'name': 'fileDown',
        'url': 'dbms/MDC/STAT/standard/MDCSTAT03901'
    }
    headers = {'Referer' : 'http://data.krx.co.kr/contents/MDC/MDI/mdiLoader'}
    otp = rq.post(url,body,headers = headers).text

    url = 'http://data.krx.co.kr/comm/fileDn/download_csv/download.cmd'
    body = {
        'code': otp
    }
    stock_ticker = rq.post(url,body,headers = headers)
    ticker = pd.read_csv(BytesIO(stock_ticker.content) , encoding = 'EUC_KR')
    ticker['종목코드 + 날짜'] = ticker['종목코드'].astype(str) +'/'+date
    ticker = ticker.drop('종목코드',axis = 1)
    ticker = ticker[['종목코드 + 날짜', '종목명', '시장구분', '업종명', '종가', '대비', '등락률', '시가총액']]
    return ticker

# 새로운 df정의

In [6]:
columns = ['종목코드 + 날짜', '종목명', '시장구분', '업종명', '종가', '대비', '등락률', '시가총액']
stock_ticker = pd.DataFrame(columns = columns)
stock_ticker.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   종목코드 + 날짜  0 non-null      object
 1   종목명        0 non-null      object
 2   시장구분       0 non-null      object
 3   업종명        0 non-null      object
 4   종가         0 non-null      object
 5   대비         0 non-null      object
 6   등락률        0 non-null      object
 7   시가총액       0 non-null      object
dtypes: object(8)
memory usage: 132.0+ bytes

# 날짜별로 종목정보 가져오기

In [7]:
from datetime import date
from datetime import datetime, timedelta
import holidays
from itertools import chain
from tqdm import tqdm
import time

kr_holidays = holidays.KR()

date_str = "20240331"

date_obj = datetime.strptime(date_str,"%Y%m%d").date()

for year in tqdm(range(15)):

    while (date_obj in kr_holidays or date_obj.weekday() >= 5):
        date_obj -= timedelta(days=1)
    date_possible = date_obj.strftime("%Y%m%d")
    
    df = getKospi(date_possible)
    stock_ticker = pd.concat([stock_ticker,df])        
        
    date_obj = date(2023-year,3,31)
    time.sleep(1)
stock_ticker = stock_ticker.reset_index(drop=True)

  0%|                                                                                           | 0/15 [00:00<?, ?it/s]C:\Users\user\AppData\Local\Temp\ipykernel_3592\289424589.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  stock_ticker = pd.concat([stock_ticker,df])
100%|██████████████████████████████████████████████████████████████████████████████████| 15/15 [00:25<00:00,  1.68s/it]

In [8]:
kr_holidays = holidays.KR()

date_str = "20240331"

date_obj = datetime.strptime(date_str,"%Y%m%d").date()

for year in tqdm(range(15)):

    while (date_obj in kr_holidays or date_obj.weekday() >= 5):
        date_obj -= timedelta(days=1)
    date_possible = date_obj.strftime("%Y%m%d")
    
    df = getKosdak(date_possible)
    stock_ticker = pd.concat([stock_ticker,df])        
        
    date_obj = date(2023-year,3,31)
    time.sleep(1)
stock_ticker = stock_ticker.reset_index(drop=True)

100%|██████████████████████████████████████████████████████████████████████████████████| 15/15 [00:23<00:00,  1.56s/it]

In [9]:
stock_ticker
stock_ticker['종목명'] = stock_ticker['종목명'].str.strip()
stock_ticker

,종목코드 + 날짜,종목명,시장구분,업종명,종가,대비,등락률,시가총액
0,095570/20240329,AJ네트웍스,KOSPI,서비스업,4865,-255,-4.98,220154672535
1,006840/20240329,AK홀딩스,KOSPI,기타금융,15100,-460,-2.96,200038171100
2,027410/20240329,BGF,KOSPI,기타금융,3740,-55,-1.45,357980798340
3,282330/20240329,BGF리테일,KOSPI,유통업,117700,700,0.60,2034315736200
4,138930/20240329,BNK금융지주,KOSPI,기타금융,7770,-210,-2.63,2502627163260
...,...,...,...,...,...,...,...,...
32769,65510/20100331,휴비츠,KOSDAQ,의료·정밀기기,4980,80,1.63,46402644000
32770,84110/20100331,휴온스,KOSDAQ,제약,7380,0,0.00,64501200000
32771,24060/20100331,흥구석유,KOSDAQ,유통,2700,-215,-7.38,40500000000
32772,10240/20100331,흥국,KOSDAQ,기계·장비,4000,5,0.13,24645392000
32773,37440/20100331,희림,KOSDAQ,기타서비스,9390,-50,-0.53,125906293890

In [10]:
stock_ticker.to_csv('날짜별주식정보.csv', index=False)

# 섹터 리스트 가져오기

In [58]:
import json

In [60]:
biz_day = '20240510'
url = f'''https://www.wiseindex.com/Index/GetIndexComponets?ceil_yn=0&dt={biz_day}&sec_cd=G15'''
data = rq.get(url).json()

In [63]:
data.keys()

dict_keys(['info', 'list', 'sector', 'size'])

In [81]:
data_pd = pd.json_normalize(data['sector'])

sector_list = data_pd['SEC_CD']
sector_list

0    G25
1    G35
2    G50
3    G40
4    G10
5    G20
6    G55
7    G30
8    G15
9    G45
Name: SEC_CD, dtype: object

# 날짜별 섹터코드 가져오기

In [77]:
def getSector(sector_code, date_possible):
    url = f'''https://www.wiseindex.com/Index/GetIndexComponets?ceil_yn=0&dt={date_possible}&sec_cd={sector_code}'''
    data = rq.get(url).json()
    df = pd.json_normalize(data['list'])

    result = pd.DataFrame()
    result['종목코드 + 날짜'] = df['CMP_CD'].astype(str) +'/'+date_possible
    result['종목명'] = df['CMP_KOR']
    result['섹터코드'] = sector_code
    return result

# 섹터 정보 합치기

In [83]:
columns = ['종목코드 + 날짜','종목명','섹터코드']
sector_ticker = pd.DataFrame(columns = columns)

In [84]:
kr_holidays = holidays.KR()

date_str = "20240331"

date_obj = datetime.strptime(date_str,"%Y%m%d").date()

for year in tqdm(range(15)):

    while (date_obj in kr_holidays or date_obj.weekday() >= 5):
        date_obj -= timedelta(days=1)
    date_possible = date_obj.strftime("%Y%m%d")

    for sector in sector_list:
        df = getSector(sector, date_possible)
        sector_ticker = pd.concat([sector_ticker,df])        
        
    date_obj = date(2023-year,3,31)
    time.sleep(1)
sector_ticker = sector_ticker.reset_index(drop=True)

100%|██████████████████████████████████████████████████████████████████████████████████| 15/15 [01:15<00:00,  5.03s/it]

In [97]:
filter = sector_ticker['종목코드 + 날짜'] == '095660/20150331'
sector_ticker[filter]

             종목코드 + 날짜   종목명 섹터코드
20021  095660/20150331  네오위즈  G45

In [100]:
filter = sector_ticker['종목명'] == '네오위즈'
sector_ticker[filter]

             종목코드 + 날짜   종목명 섹터코드
724    095660/20240329  네오위즈  G50
3153   095660/20230331  네오위즈  G50
5529   095660/20220331  네오위즈  G50
7744   095660/20210331  네오위즈  G50
9866   095660/20200331  네오위즈  G50
12751  095660/20190329  네오위즈  G45
14671  095660/20180330  네오위즈  G45
16550  095660/20170331  네오위즈  G45
18312  095660/20160331  네오위즈  G45
20021  095660/20150331  네오위즈  G45
21706  095660/20140331  네오위즈  G45
23351  095660/20130329  네오위즈  G45
25002  095660/20120330  네오위즈  G45
26661  095660/20110331  네오위즈  G45
28310  095660/20100331  네오위즈  G45

In [98]:
filter = stock_ticker['종목코드 + 날짜'] == '095660/20150331'
stock_ticker[filter]

Empty DataFrame
Columns: [종목코드 + 날짜, 종목명, 시장구분, 업종명, 종가, 대비, 등락률, 시가총액]
Index: []

In [99]:
filter = stock_ticker['종목명'] == '네오위즈'
stock_ticker[filter]

             종목코드 + 날짜   종목명    시장구분     업종명     종가    대비    등락률          시가총액
13954  095660/20240329  네오위즈  KOSDAQ  디지털컨텐츠  21850  -300  -1.35  481436760150
15662  095660/20230331  네오위즈  KOSDAQ  디지털컨텐츠  40000  -100  -0.25  881348760000
17287  095660/20220331  네오위즈  KOSDAQ  디지털컨텐츠  24900  -200  -0.80  548639603100
18834  095660/20210331  네오위즈  KOSDAQ  디지털컨텐츠  23400  -200  -0.85  515589024600
20323  095660/20200331  네오위즈  KOSDAQ  디지털컨텐츠  17300  1850  11.97  379129638400
21723  095660/20190329  네오위즈  KOSDAQ  디지털컨텐츠  14100   -50  -0.35  309001612800
23049  095660/20180330  네오위즈  KOSDAQ  디지털컨텐츠  19850  -250  -1.24  435012908800
28766   42420/20130329  네오위즈  KOSDAQ   기타서비스  14200    50   0.35  130027497200
29774   42420/20120330  네오위즈  KOSDAQ   기타서비스  18500   350   1.93  169402021000
30812   42420/20110331  네오위즈  KOSDAQ   기타서비스  12750   200   1.59  116750041500
31850   42420/20100331  네오위즈  KOSDAQ   기타서비스  12850  -400  -3.02  113918449650

In [90]:
temp = set(stock_ticker['종목코드 + 날짜']).symmetric_difference(set(sector_ticker['종목코드 + 날짜']))

In [93]:
temp

{'58450/20140331',
 '095660/20150331',
 '032685/20170331',
 '019540/20110331',
 '131030/20110331',
 '323230/20200331',
 '225570/20160331',
 '087220/20100331',
 '52330/20130329',
 '060370/20130329',
 '064550/20100331',
 '39560/20130329',
 '18290/20130329',
 '198440/20150331',
 '34810/20110331',
 '058370/20150331',
 '016600/20150331',
 '004367/20140331',
 '087730/20160331',
 '52710/20160331',
 '95340/20110331',
 '45660/20160331',
 '50470/20110331',
 '60570/20100331',
 '095610/20150331',
 '004590/20150331',
 '000835/20140331',
 '74430/20150331',
 '58480/20100331',
 '068790/20140331',
 '066410/20150331',
 '6580/20110331',
 '041140/20160331',
 '32680/20130329',
 '900260/20210331',
 '32040/20100331',
 '039420/20140331',
 '052300/20130329',
 '067310/20160331',
 '044180/20160331',
 '033290/20100331',
 '065560/20120330',
 '49960/20100331',
 '84990/20140331',
 '222810/20160331',
 '000145/20200331',
 '53060/20100331',
 '043710/20160331',
 '65420/20150331',
 '49960/20130329',
 '95610/20120330',
 '007197/20110331',
 '36630/20120330',
 '014350/20140331',
 '8370/20150331',
 '039830/20140331',
 '095910/20100331',
 '232270/20170331',
 '003670/20130329',
 '204760/20170331',
 '2680/20130329',
 '39980/20120330',
 '65610/20110331',
 '007815/20170331',
 '66590/20120330',
 '71530/20110331',
 '128910/20110331',
 '027040/20100331',
 '78860/20150331',
 '082660/20110331',
 '096640/20110331',
 '263920/20210331',
 '021880/20210331',
 '032420/20110331',
 '061970/20160331',
 '004365/20170331',
 '016670/20120330',
 '018620/20100331',
 '77360/20150331',
 '066970/20100331',
 '21080/20100331',
 '7330/20150331',
 '006730/20100331',
 '36890/20160331',
 '052330/20100331',
 '150840/20230331',
 '009620/20110331',
 '97520/20140331',
 '24850/20130329',
 '104620/20220331',
 '10670/20130329',
 '50890/20120330',
 '052290/20180330',
 '007720/20160331',
 '008705/20110331',
 '079940/20120330',
 '084695/20110331',
 '068760/20120330',
 '028300/20160331',
 '066575/20170331',
 '114190/20210331',
 '047310/20110331',
 '84990/20100331',
 '41190/20150331',
 '65620/20140331',
 '39790/20140331',
 '099660/20160331',
 '900050/20130329',
 '066700/20160331',
 '45300/20130329',
 '001067/20120330',
 '38110/20140331',
 '098150/20100331',
 '005387/20220331',
 '82920/20140331',
 '64090/20130329',
 '6730/20100331',
 '101400/20210331',
 '149130/20140331',
 '047820/20150331',
 '58470/20160331',
 '15710/20150331',
 '038460/20120330',
 '053270/20110331',
 '052260/20140331',
 '064520/20100331',
 '69080/20160331',
 '68270/20110331',
 '311270/20190329',
 '004415/20150331',
 '090120/20130329',
 '002290/20120330',
 '003547/20120330',
 '37950/20130329',
 '009155/20120330',
 '022220/20110331',
 '66980/20130329',
 '000325/20170331',
 '019660/20120330',
 '001689/20120330',
 '79960/20150331',
 '004985/20120330',
 '064480/20130329',
 '003545/20170331',
 '43710/20150331',
 '021880/20120330',
 '010420/20180330',
 '70590/20120330',
 '16670/20160331',
 '33637K/20230331',
 '40420/20140331',
 '036630/20120330',
 '36090/20130329',
 '41060/20140331',
 '54670/20130329',
 '027040/20140331',
 '016920/20130329',
 '4790/20100331',
 '003419/20110331',
 '39290/20120330',
 '000227/20130329',
 '68050/20110331',
 '008800/20110331',
 '022100/20160331',
 '32800/20130329',
 '23460/20100331',
 '065350/20130329',
 '96040/20120330',
 '51490/20110331',
 '65500/20120330',
 '023160/20150331',
 '65620/20130329',
 '036120/20150331',
 '009155/20230331',
 '16170/20110331',
 '004985/20150331',
 '900100/20240329',
 '232140/20170331',
 '44060/20140331',
 '31310/20130329',
 '037760/20140331',
 '65710/20130329',
 '059120/20150331',
 '45050/20100331',
 '95270/20110331',
 '033100/20110331',
 '97780/20140331',
 '60250/20140331',
 '102210/20210331',
 '85990/20100331',
 '36000/20140331',
 '45340/20160331',
 '78600/20130329',
 '49950/20120330',
 '85910/20140331',
 '065680/20140331',
 '036710/20110331',
 '31310/20100331',
 '058220/20150331',
 '74130/20100331',
 '016560/20120330',
 '95190/20130329',
 '065770/20110331',
 '28305/20120330',
 '33200/20130329',
 '002230/20100331',
 '46440/20150331',
 '007575/20110331',
 '49960/20160331',
 '67570/20140331',
 '013780/20110331',
 '56710/20100331',
 '000545/20160331',
 '010280/20180330',
 '025950/20100331',
 '049180/20100331',
 '41960/20120330',
 '061250/20110331',
 '073190/20110331',
 '004780/20120330',
 '54670/20100331',
 '24660/20150331',
 '82390/20100331',
 '082260/20100331',
 '063080/20150331',
 '21880/20100331',
 '88390/20110331',
 '90360/20120330',
 '26260/20110331',
 '001755/20160331',
 '950170/20210331',
 '089980/20120330',
 '000250/20110331',
 '98120/20110331',
 '79810/20120330',
 '49830/20160331',
 '049720/20130329',
 '065150/20190329',
 '51390/20110331',
 '099660/20100331',
 '052350/20100331',
 '067170/20160331',
 '003965/20140331',
 '68330/20100331',
 '033310/20110331',
 '054180/20160331',
 '80530/20110331',
 '053620/20160331',
 '50320/20100331',
 '090990/20140331',
 '17890/20130329',
 '82390/20130329',
 '032420/20130329',
 '024840/20150331',
 '040300/20150331',
 '96610/20140331',
 '026150/20110331',
 '003925/20210331',
 '051490/20150331',
 '056000/20100331',
 '096610/20120330',
 '038720/20110331',
 '58420/20130329',
 '035900/20120330',
 '52220/20120330',
 '39010/20150331',
 '001685/20140331',
 '053740/20130329',
 '028090/20100331',
 '006910/20120330',
 '083660/20200331',
 '310200/20190329',
 '043360/20130329',
 '014285/20170331',
 '65530/20120330',
 '053330/20120330',
 '82920/20110331',
 '012860/20130329',
 '7330/20120330',
 '159650/20180330',
 '32420/20120330',
 '91440/20160331',
 '38710/20100331',
 '03481K/20230331',
 '048470/20120330',
 '025950/20110331',
 '33310/20100331',
 '17510/20160331',
 '082920/20110331',
 '16100/20120330',
 '44340/20150331',
 '41060/20110331',
 '003945/20150331',
 '58630/20150331',
 '48470/20150331',
 '19570/20120330',
 '36540/20150331',
 '80160/20140331',
 '090460/20140331',
 '065680/20150331',
 '036010/20160331',
 '092730/20100331',
 '35600/20150331',
 '52290/20110331',
 '11560/20140331',
 '089530/20120330',
 '084180/20150331',
 '004135/20110331',
 '68790/20160331',
 '090355/20160331',
 '14190/20150331',
 '052300/20120330',
 '037070/20150331',
 '900250/20190329',
 '47560/20100331',
 '058530/20240329',
 '22100/20150331',
 '52270/20130329',
 '010470/20100331',
 '53450/20120330',
 '006345/20240329',
 '1540/20120330',
 '003547/20240329',
 '65650/20110331',
 '008775/20210331',
 '54180/20150331',
 '79650/20100331',
 '071200/20120330',
 '94970/20150331',
 '39340/20120330',
 '007330/20130329',
 '41060/20130329',
 '38460/20140331',
 '016670/20150331',
 '47820/20160331',
 '204210/20200331',
 '049960/20140331',
 '5670/20120330',
 '066110/20130329',
 '48550/20100331',
 '099340/20200331',
 '64090/20160331',
 '008370/20140331',
 '30030/20110331',
 '086450/20110331',
 '35600/20100331',
 '091590/20140331',
 '060230/20160331',
 '17650/20150331',
 '051360/20100331',
 '38950/20100331',
 '16170/20150331',
 '78350/20140331',
 '5990/20100331',
 '53800/20120330',
 '005389/20150331',
 '025620/20140331',
 '20710/20130329',
 '026910/20100331',
 '88800/20140331',
 '000815/20120330',
 '090355/20100331',
 '029960/20140331',
 '38110/20130329',
 '83450/20160331',
 '043650/20100331',
 '53350/20140331',
 '035460/20160331',
 '002025/20180330',
 '043890/20120330',
 '152550/20210331',
 '024950/20110331',
 '38540/20150331',
 '96350/20120330',
 '080980/20110331',
 '63440/20140331',
 '092600/20100331',
 '26220/20100331',
 '037760/20130329',
 '28300/20130329',
 '027830/20110331',
 '37230/20140331',
 '066310/20120330',
 '26490K/20180330',
 '54920/20140331',
 '050860/20130329',
 '052790/20120330',
 '003419/20120330',
 '089890/20130329',
 '033130/20130329',
 '067160/20120330',
 '32680/20110331',
 '33110/20140331',
 '004255/20180330',
 '96350/20100331',
 '83640/20100331',
 '001067/20100331',
 '33290/20160331',
 '46440/20160331',
 '11370/20150331',
 '005387/20210331',
 '32280/20150331',
 '007815/20140331',
 '051915/20210331',
 '00499K/20240329',
 '032190/20130329',
 '91970/20140331',
 '056190/20150331',
 '38290/20110331',
 '53595/20100331',
 '65560/20150331',
 '009275/20110331',
 '033430/20100331',
 '37460/20150331',
 '019590/20180330',
 '035600/20120330',
 '005255/20120330',
 '38880/20130329',
 '001065/20120330',
 '014470/20120330',
 '090360/20160331',
 '60910/20110331',
 '40350/20130329',
 '7370/20150331',
 '900020/20110331',
 '68790/20140331',
 '66970/20120330',
 '098150/20120330',
 '86060/20150331',
 '52860/20140331',
 '063570/20160331',
 '023760/20150331',
 '900270/20240329',
 '005935/20110331',
 '43220/20150331',
 '65150/20130329',
 '225590/20160331',
 '1810/20150331',
 '32190/20140331',
 '68760/20130329',
 '017480/20150331',
 '14970/20140331',
 '13650/20100331',
 '066790/20210331',
 '53700/20130329',
 '63170/20120330',
 '048530/20110331',
 '19210/20160331',
 '51780/20110331',
 '053800/20150331',
 '032190/20110331',
 '016100/20140331',
 '000325/20110331',
 '054540/20100331',
 '7150/20120330',
 '085670/20120330',
 '900080/20100331',
 '041520/20110331',
 '004545/20220331',
 '045050/20110331',
 '230240/20170331',
 '68940/20130329',
 '006375/20100331',
 '14970/20130329',
 '086830/20100331',
 '043360/20110331',
 '090435/20170331',
 '080420/20110331',
 '074130/20110331',
 '36210/20130329',
 '052270/20100331',
 '99440/20150331',
 '6050/20110331',
 '60910/20100331',
 '065560/20160331',
 '35450/20110331',
 '9300/20120330',
 '44490/20160331',
 '008355/20130329',
 '58470/20120330',
 '64240/20100331',
 '099660/20110331',
 '30190/20140331',
 '092730/20120330',
 '065650/20110331',
 '058370/20100331',
 '019175/20240329',
 '30350/20130329',
 '66430/20120330',
 '035450/20100331',
 '031510/20120330',
 '078150/20110331',
 '46140/20100331',
 '46240/20100331',
 '066575/20150331',
 '36540/20120330',
 '14100/20120330',
 '068330/20160331',
 '000835/20110331',
 '53740/20100331',
 '53950/20150331',
 '53040/20120330',
 '035290/20110331',
 '048260/20140331',
 '46110/20130329',
 '019685/20150331',
 '41060/20120330',
 '053060/20100331',
 '51360/20120330',
 '93380/20100331',
 '084990/20150331',
 '039010/20160331',
 '155900/20160331',
 '90150/20120330',
 '096300/20130329',
 '071280/20150331',
 '71200/20140331',
 '090090/20110331',
 '54920/20120330',
 '73540/20130329',
 '039860/20140331',
 '33200/20100331',
 '004835/20170331',
 '090355/20220331',
 '36000/20160331',
 '64090/20110331',
 '30190/20150331',
 '031860/20100331',
 '067010/20150331',
 '254120/20190329',
 '122290/20100331',
 '36620/20120330',
 '94820/20110331',
 '048550/20150331',
 '043360/20120330',
 '24120/20130329',
 '001465/20180330',
 '008775/20240329',
 '092070/20120330',
 '42940/20150331',
 '61250/20120330',
 '83470/20150331',
 '058220/20240329',
 '108675/20130329',
 '38950/20120330',
 '067630/20140331',
 '172580/20200331',
 '6910/20160331',
 '52020/20130329',
 '030270/20160331',
 '009620/20120330',
 '64240/20140331',
 '033100/20120330',
 '65940/20130329',
 '30350/20160331',
 '087730/20100331',
 '900340/20210331',
 '038010/20110331',
 '41590/20150331',
 '000325/20120330',
 '064520/20210331',
 '5860/20160331',
 '900070/20170331',
 '900100/20170331',
 '037370/20100331',
 '10170/20140331',
 '48470/20110331',
 '56360/20160331',
 '007195/20110331',
 '035900/20150331',
 '69510/20130329',
 '00279K/20210331',
 '051490/20130329',
 '40160/20100331',
 '900180/20140331',
 '065770/20100331',
 '62860/20140331',
 '041930/20140331',
 '074130/20130329',
 '096640/20100331',
 '052790/20130329',
 '046890/20140331',
 '023770/20150331',
 '001067/20160331',
 '003415/20150331',
 '009275/20200331',
 '24910/20140331',
 '49520/20140331',
 '60900/20120330',
 '66270/20130329',
 '073930/20120330',
 '003545/20150331',
 '57540/20150331',
 '096630/20160331',
 '079190/20150331',
 '139200/20150331',
 '52860/20150331',
 '43200/20100331',
 '008800/20150331',
 '59100/20140331',
 '025950/20150331',
 '019210/20160331',
 '083360/20120330',
 '024830/20220331',
 '003555/20220331',
 '42500/20120330',
 '44180/20110331',
 '024830/20200331',
 '72520/20110331',
 '15200/20100331',
 '00680K/20200331',
 '036690/20140331',
 '94850/20130329',
 '182690/20210331',
 '061040/20120330',
 '071670/20100331',
 '008355/20210331',
 '83640/20120330',
 '86450/20130329',
 '36540/20110331',
 '48260/20110331',
 '38320/20110331',
 '037700/20100331',
 '009300/20100331',
 '27580/20140331',
 '041510/20120330',
 '52860/20120330',
 '35080/20120330',
 '950170/20200331',
 '053950/20100331',
 '99660/20100331',
 '080530/20130329',
 '91700/20110331',
 '66930/20100331',
 '004590/20100331',
 '082920/20160331',
 '52020/20160331',
 '75130/20100331',
 '051980/20120330',
 '050540/20130329',
 '039020/20120330',
 '36630/20140331',
 '950070/20110331',
 '007720/20120330',
 '005387/20200331',
 '042600/20140331',
 '54950/20120330',
 '069330/20190329',
 '89530/20140331',
 '068270/20100331',
 '46440/20130329',
 '086960/20120330',
 '063170/20150331',
 '096775/20230331',
 '41930/20100331',
 '005745/20130329',
 '65690/20120330',
 '52290/20150331',
 '065060/20120330',
 '6730/20130329',
 '065500/20140331',
 '004590/20160331',
 '003075/20140331',
 '039340/20110331',
 '004415/20170331',
 '053800/20140331',
 '084990/20140331',
 '86960/20150331',
 '00279K/20220331',
 '092460/20100331',
 '16100/20150331',
 '017000/20150331',
 '054220/20210331',
 '066575/20200331',
 '80530/20120330',
 '80470/20120330',
 '60910/20160331',
 '39290/20160331',
 '71930/20150331',
 '032040/20140331',
 '39840/20140331',
 '66980/20110331',
 '43340/20160331',
 '84110/20120330',
 '18000/20150331',
 '036170/20130329',
 '43290/20160331',
 '81150/20140331',
 '081930/20120330',
 '46140/20110331',
 '10470/20160331',
 '028150/20150331',
 '084695/20190329',
 '000105/20180330',
 '071460/20240329',
 '010280/20150331',
 '094860/20100331',
 '071670/20130329',
 '060380/20110331',
 '046140/20150331',
 '073570/20170331',
 '19010/20140331',
 '33600/20160331',
 '68940/20150331',
 '049950/20150331',
 '008775/20230331',
 '001527/20200331',
 '66700/20110331',
 '074000/20110331',
 '33430/20100331',
 '900080/20190329',
 '49630/20130329',
 '092130/20140331',
 '43650/20150331',
 '067630/20110331',
 '60230/20150331',
 '067290/20160331',
 '53740/20130329',
 '013340/20100331',
 '003800/20110331',
 '41520/20160331',
 '48470/20160331',
 '86890/20110331',
 '52400/20150331',
 '031310/20130329',
 '048470/20100331',
 '79970/20150331',
 '014915/20110331',
 '034230/20130329',
 '900250/20230331',
 '279410/20180330',
 '205500/20200331',
 '79000/20140331',
 '070300/20110331',
 '051380/20160331',
 '60150/20120330',
 '036830/20120330',
 '090980/20150331',
 '019590/20140331',
 '13720/20130329',
 '096870/20130329',
 '37330/20100331',
 '092730/20160331',
 '6910/20150331',
 '033310/20100331',
 '094860/20130329',
 '033790/20210331',
 '52330/20150331',
 '121550/20140331',
 '065130/20100331',
 '14570/20140331',
 '950220/20230331',
 '208640/20160331',
 '057880/20130329',
 '083380/20160331',
 '39670/20110331',
 '041590/20100331',
 '1810/20140331',
 '335890/20200331',
 '003475/20190329',
 '090355/20200331',
 '056090/20230331',
 '79190/20130329',
 '208710/20150331',
 '24850/20120330',
 '52020/20150331',
 '012205/20100331',
 '010955/20200331',
 '064480/20110331',
 '033500/20120330',
 '075130/20130329',
 '046070/20230331',
 '63570/20140331',
 '89010/20100331',
 '090360/20150331',
 '27050/20160331',
 '74150/20140331',
 '67280/20120330',
 '194510/20180330',
 '053950/20130329',
 '59090/20120330',
 '37020/20110331',
 '083580/20100331',
 '043100/20200331',
 '37380/20100331',
 '038870/20110331',
 '066350/20130329',
 '37440/20120330',
 '65420/20100331',
 '95660/20160331',
 '64260/20140331',
 '014620/20140331',
 '90740/20110331',
 '052790/20150331',
 '12790/20120330',
 '099320/20140331',
 '066620/20110331',
 '206660/20150331',
 '15710/20110331',
 '35210/20120330',
 '021060/20120330',
 '053270/20160331',
 '36180/20140331',
 '00104K/20220331',
 '6580/20150331',
 '93520/20150331',
 '010955/20220331',
 '014940/20170331',
 '039840/20130329',
 '056700/20100331',
 '000227/20150331',
 '83650/20100331',
 '039670/20110331',
 '89140/20160331',
 '52020/20140331',
 '23890/20100331',
 '003547/20150331',
 '35900/20120330',
 '66790/20150331',
 '50760/20100331',
 '1000/20140331',
 '86960/20120330',
 '90470/20120330',
 '072950/20140331',
 '33200/20140331',
 '054450/20130329',
 '001385/20100331',
 '323940/20200331',
 '51170/20150331',
 '83660/20120330',
 '81090/20100331',
 '54340/20100331',
 '003075/20120330',
 '066700/20140331',
 '230490/20180330',
 '36010/20160331',
 '041440/20150331',
 '004415/20190329',
 '91440/20110331',
 '53160/20100331',
 '005305/20210331',
 '001000/20120330',
 '097955/20170331',
 '16250/20150331',
 '094840/20130329',
 '042600/20160331',
 '008355/20150331',
 '001745/20100331',
 '089140/20110331',
 '083450/20130329',
 '051905/20140331',
 '051170/20130329',
 '066310/20130329',
 '33340/20120330',
 '073010/20150331',
 '99410/20130329',
 '33340/20130329',
 '108675/20100331',
 '69140/20140331',
 '090435/20160331',
 '91580/20130329',
 '85910/20100331',
 '3310/20150331',
 '39740/20160331',
 '44180/20130329',
 '035720/20120330',
 '014100/20130329',
 '036190/20120330',
 '009620/20130329',
 '043340/20150331',
 '152550/20120330',
 '011155/20100331',
 '52400/20120330',
 '73540/20160331',
 '60300/20120330',
 '37460/20160331',
 '008800/20100331',
 '45470/20110331',
 '007815/20120330',
 '007480/20110331',
 '030530/20150331',
 '002355/20190329',
 '27040/20150331',
 '95340/20100331',
 '72950/20160331',
 '36490/20120330',
 '234080/20210331',
 '65420/20160331',
 '140910/20240329',
 '031950/20100331',
 '068330/20140331',
 '003465/20190329',
 '014100/20210331',
 '96040/20110331',
 '073010/20120330',
 '36560/20110331',
 '040610/20110331',
 '036500/20110331',
 '019770/20150331',
 '019010/20160331',
 '000155/20200331',
 '82660/20100331',
 '60380/20130329',
 '033320/20140331',
 '86830/20150331',
 '32280/20130329',
 '005945/20130329',
 '005965/20180330',
 '080970/20100331',
 '058450/20160331',
 '78590/20100331',
 '219550/20220331',
 '066590/20120330',
 '58630/20120330',
 '8830/20110331',
 '084695/20180330',
 '082920/20130329',
 '058630/20120330',
 '000105/20210331',
 '007197/20150331',
 '26180/20150331',
 '18700/20140331',
 '061970/20150331',
 '47600/20100331',
 '001527/20190329',
 '56080/20110331',
 '024940/20130329',
 '049430/20130329',
 '004590/20140331',
 '122750/20120330',
 '011080/20130329',
 '002680/20160331',
 '7370/20160331',
 '45520/20160331',
 '001515/20200331',
 '66310/20100331',
 '204210/20170331',
 '053810/20100331',
 '037540/20110331',
 '49180/20160331',
 '49430/20160331',
 '95610/20130329',
 '25880/20160331',
 '013780/20100331',
 '024810/20130329',
 '03473K/20190329',
 '67010/20100331',
 '078020/20100331',
 '036710/20150331',
 '042500/20130329',
 '043910/20130329',
 '004147/20100331',
 '101680/20210331',
 '001745/20130329',
 '53270/20130329',
 '030960/20160331',
 '043590/20110331',
 '9620/20160331',
 '000145/20120330',
 '065440/20160331',
 '097780/20110331',
 '35710/20100331',
 '053350/20120330',
 '086060/20160331',
 '014100/20120330',
 '69510/20110331',
 '031310/20160331',
 '062860/20120330',
 '033500/20100331',
 '73640/20150331',
 '15710/20130329',
 '022220/20160331',
 '39240/20150331',
 '045300/20110331',
 '307160/20190329',
 '204620/20150331',
 '067920/20130329',
 '64820/20130329',
 '65940/20140331',
 '058450/20150331',
 '23770/20160331',
 '52860/20160331',
 '159910/20180330',
 '44960/20100331',
 '28150/20150331',
 '59210/20110331',
 '093400/20100331',
 '214870/20240329',
 '052770/20210331',
 '58400/20140331',
 '120115/20220331',
 '003535/20120330',
 '91340/20140331',
 '009275/20170331',
 '029480/20160331',
 '014940/20160331',
 '060900/20140331',
 '083660/20140331',
 '52670/20120330',
 '052220/20120330',
 ...}

In [103]:
stock_ticker['종목명'].unique().size

4560

In [104]:
sector_ticker['종목명'].unique().size

2972

In [120]:
list = stock_ticker['종목코드 + 날짜'].apply(lambda x : x.split('/'))
set1 = list.apply(lambda x : x[0])

In [121]:
set1

0        095570
1        006840
2        027410
3        282330
4        138930
          ...
32769     65510
32770     84110
32771     24060
32772     10240
32773     37440
Name: 종목코드 + 날짜, Length: 32774, dtype: object

In [122]:
list = sector_ticker['종목코드 + 날짜'].apply(lambda x : x.split('/'))
set2 = list.apply(lambda x : x[0])

In [123]:
set2

0        005380
1        000270
2        012330
3        161390
4        090430
          ...
28804    011050
28805    038320
28806    033280
28807    093640
28808    074140
Name: 종목코드 + 날짜, Length: 28809, dtype: object

In [124]:
set1.unique().size

4207

In [125]:
set2.unique().size

2980

In [126]:
sector_ticker

             종목코드 + 날짜          종목명 섹터코드
0      005380/20240329          현대차  G25
1      000270/20240329           기아  G25
2      012330/20240329        현대모비스  G25
3      161390/20240329  한국타이어앤테크놀로지  G25
4      090430/20240329       아모레퍼시픽  G25
...                ...          ...  ...
28804  011050/20100331          케드콤  G45
28805  038320/20100331        어울림정보  G45
28806  033280/20100331       어울림엘시스  G45
28807  093640/20100331         케이알엠  G45
28808  074140/20100331         엑스로드  G45

[28809 rows x 3 columns]

In [127]:
stock_ticker

,종목코드 + 날짜,종목명,시장구분,업종명,종가,대비,등락률,시가총액
0,095570/20240329,AJ네트웍스,KOSPI,서비스업,4865,-255,-4.98,220154672535
1,006840/20240329,AK홀딩스,KOSPI,기타금융,15100,-460,-2.96,200038171100
2,027410/20240329,BGF,KOSPI,기타금융,3740,-55,-1.45,357980798340
3,282330/20240329,BGF리테일,KOSPI,유통업,117700,700,0.60,2034315736200
4,138930/20240329,BNK금융지주,KOSPI,기타금융,7770,-210,-2.63,2502627163260
...,...,...,...,...,...,...,...,...
32769,65510/20100331,휴비츠,KOSDAQ,의료·정밀기기,4980,80,1.63,46402644000
32770,84110/20100331,휴온스,KOSDAQ,제약,7380,0,0.00,64501200000
32771,24060/20100331,흥구석유,KOSDAQ,유통,2700,-215,-7.38,40500000000
32772,10240/20100331,흥국,KOSDAQ,기계·장비,4000,5,0.13,24645392000
32773,37440/20100331,희림,KOSDAQ,기타서비스,9390,-50,-0.53,125906293890

In [128]:
df = pd.merge(stock_ticker, sector_ticker,on = '종목코드 + 날짜',how = 'outer')

In [129]:
df

,종목코드 + 날짜,종목명_x,시장구분,업종명,종가,대비,등락률,시가총액,종목명_y,섹터코드
0,095570/20240329,AJ네트웍스,KOSPI,서비스업,4865,-255,-4.98,220154672535,AJ네트웍스,G20
1,006840/20240329,AK홀딩스,KOSPI,기타금융,15100,-460,-2.96,200038171100,AK홀딩스,G15
2,027410/20240329,BGF,KOSPI,기타금융,3740,-55,-1.45,357980798340,BGF,G15
3,282330/20240329,BGF리테일,KOSPI,유통업,117700,700,0.60,2034315736200,BGF리테일,G25
4,138930/20240329,BNK금융지주,KOSPI,기타금융,7770,-210,-2.63,2502627163260,BNK금융지주,G40
...,...,...,...,...,...,...,...,...,...,...
38583,037020/20100331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,한와이어리스,G45
38584,038320/20100331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,어울림정보,G45
38585,033280/20100331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,어울림엘시스,G45
38586,093640/20100331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,케이알엠,G45
38587,074140/20100331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,엑스로드,G45

In [130]:
data_pd = pd.json_normalize(data['list'])

In [131]:
data_pd

,IDX_CD,IDX_NM_KOR,ALL_MKT_VAL,CMP_CD,CMP_KOR,MKT_VAL,WGT,S_WGT,CAL_WGT,SEC_CD,SEC_NM_KOR,SEQ,TOP60,APT_SHR_CNT
0,G15,WICS 소재,113224296,005490,POSCO홀딩스,23400014,20.67,20.67,1.0,G15,소재,1,7,58354149
1,G15,WICS 소재,113224296,051910,LG화학,17936103,15.84,36.51,1.0,G15,소재,2,7,45179100
2,G15,WICS 소재,113224296,086520,에코프로,10720832,9.47,45.98,1.0,G15,소재,3,7,109173439
3,G15,WICS 소재,113224296,003670,포스코퓨처엠,7604952,6.72,52.69,1.0,G15,소재,4,7,27112127
4,G15,WICS 소재,113224296,010130,고려아연,4671501,4.13,56.82,1.0,G15,소재,5,7,9408865
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,G15,WICS 소재,113224296,000760,이화산업,11121,0.01,98.94,1.0,G15,소재,236,7,756000
236,G15,WICS 소재,113224296,026910,광진실업,10748,0.01,98.95,1.0,G15,소재,237,7,3266757
237,G15,WICS 소재,113224296,014970,삼륭물산,10468,0.01,98.96,1.0,G15,소재,238,7,2722500
238,G15,WICS 소재,113224296,001770,SHD,9966,0.01,98.97,1.0,G15,소재,239,7,546695
239,G15,WICS 소재,113224296,115570,스타플렉스,9665,0.01,98.98,1.0,G15,소재,240,7,3593029

In [133]:
stock_ticker['업종명'].unique()

array(['서비스업', '기타금융', '유통업', '섬유의복', '운수창고업', '음식료품', '비금속광물', '증권',
       '보험', '전기전자', '화학', '건설업', '철강금속', '기계', '운수장비', '광업', '의약품',
       '통신업', '기타제조업', '전기가스업', '종이목재', '은행', '의료정밀', '농업, 임업 및 어업',
       '기계·장비', '금융', '반도체', '통신장비', '컴퓨터서비스', '운송장비·부품', '기타서비스',
       '방송서비스', '유통', '제약', '건설', '전기·가스·수도', '일반전기전자', '출판·매체복제',
       '섬유·의류', '의료·정밀기기', '오락·문화', '금속', '소프트웨어', 'IT부품', '디지털컨텐츠',
       '기타제조', '비금속', '운송', '인터넷', '정보기기', '음식료·담배', '종이·목재', '통신서비스',
       '숙박·음식'], dtype=object)

In [134]:
list = stock_ticker['종목코드 + 날짜'].apply(lambda x : x.split('/'))
set1 = list.apply(lambda x : x[1])

In [136]:
set1.unique()

array(['20240329', '20230331', '20220331', '20210331', '20200331',
       '20190329', '20180330', '20170331', '20160331', '20150331',
       '20140331', '20130329', '20120330', '20110331', '20100331'],
      dtype=object)