In [148]:
import numpy as np
import pandas as pd
import requests as rq
from bs4 import BeautifulSoup
import re

# 개별 etf 종목 가지고 오기

In [149]:
url = 'http://data.krx.co.kr/comm/fileDn/GenerateOTP/generate.cmd'
payload = {
    "locale": "ko_KR",
    "tboxisuCd_finder_secuprodisu1_1": "451060/1Q K200액티브",
    "isuCd": "KR7451060008",
    "isuCd2" : "", 
    "codeNmisuCd_finder_secuprodisu1_1": "1Q K200액티브", 
    "param1isuCd_finder_secuprodisu1_1": "", 
    "trdDd": "20240419",
    "share": "1",
    "money": "1",
    "csvxls_isNo": "false",
    "name": "fileDown",
    "url": "dbms/MDC/STAT/standard/MDCSTAT05001"
}
headers = {
    'Referer' : 'http://data.krx.co.kr/contents/MDC/MDI/mdiLoader'
}
code = rq.post(url,payload,headers = headers).text

In [150]:
down_url = "http://data.krx.co.kr/comm/fileDn/download_csv/download.cmd"
down_payload = {
    "code" : code
}
headers = {
    'Referer' : 'http://data.krx.co.kr/contents/MDC/MDI/mdiLoader'
}
etf_individual = rq.post(down_url , down_payload , headers = headers)

# 데이터를 csv로 변경

In [151]:
from io import BytesIO
etf_individual = pd.read_csv(BytesIO(etf_individual.content) , encoding = 'EUC_KR')

In [152]:
etf_individual

             종목코드    구성종목명  주식수(계약수)         평가금액       시가총액  시가총액 구성비중
0          005930     삼성전자    6954.0  553538400.0  539630400      32.07
1          000660   SK하이닉스     804.0  146569200.0  139333200       8.28
2          005380      현대차     199.0   45969000.0   46765000       2.78
3          068270     셀트리온     241.0   42681100.0   41668900       2.48
4          000270       기아     356.0   39943200.0   39302400       2.34
..            ...      ...       ...          ...        ...        ...
196        001430  세아베스틸지주      17.0     347650.0     349350       0.02
197        271940  일진하이솔루스      15.0     332250.0     319500       0.02
198        014820   동원시스템즈       8.0     326400.0     318400       0.02
199        300720    한일시멘트      22.0     275220.0     275220       0.02
200  KRD010010001     원화현금       NaN          NaN  -21299512      -1.27

[201 rows x 6 columns]

# 데이터 따라 api가져오는 함수 만들기

In [153]:
def getcsv(date_possible):
    url = 'http://data.krx.co.kr/comm/fileDn/GenerateOTP/generate.cmd'
    payload = {
        "locale": "ko_KR",
        "tboxisuCd_finder_secuprodisu1_1": "451060/1Q K200액티브",
        "isuCd": "KR7451060008",
        "isuCd2" : "", 
        "codeNmisuCd_finder_secuprodisu1_1": "1Q K200액티브", 
        "param1isuCd_finder_secuprodisu1_1": "", 
        "trdDd": date_possible,
        "share": "1",
        "money": "1",
        "csvxls_isNo": "false",
        "name": "fileDown",
        "url": "dbms/MDC/STAT/standard/MDCSTAT05001"
    }
    headers = {
        'Referer' : 'http://data.krx.co.kr/contents/MDC/MDI/mdiLoader'
    }
    code = rq.post(url,payload,headers = headers).text

    down_url = "http://data.krx.co.kr/comm/fileDn/download_csv/download.cmd"
    down_payload = {
        "code" : code
    }
    headers = {
        'Referer' : 'http://data.krx.co.kr/contents/MDC/MDI/mdiLoader'
    }
    etf_individual = rq.post(down_url , down_payload , headers = headers)

    return pd.read_csv(BytesIO(etf_individual.content) , encoding = 'EUC_KR')

# 중첩리스트 평탄화 함수

In [154]:
def flatten_nested_list(row):
    flat_list = []
    for sublist in row:
        if isinstance(sublist, list):
            flat_list.extend(sublist)
        else:
            flat_list.append(sublist)
    return flat_list

# 공유일 확인

In [156]:
from datetime import date
from datetime import datetime, timedelta
import holidays
from itertools import chain
from tqdm import tqdm

df_collect = pd.DataFrame()
df_collect['종목코드'] = None
df_collect['주식수(계약수)'] = []
df_collect['시가총액 구성비중'] = []

kr_holidays = holidays.KR()

date_str = "20240430"

# 주어진 문자열을 datetime 객체로 변환
date_obj = datetime.strptime(date_str, "%Y%m%d").date()

# 6개월 전의 날짜 계산
six_months_ago = date_obj - timedelta(days=30*1)

# 주어진 날짜부터 6개월 전까지의 날짜를 출력
while date_obj >= six_months_ago:

    if not (date_obj in kr_holidays or date_obj.weekday() >=5):
        date_possible = date_obj.strftime("%Y%m%d")
        df = getcsv(date_possible)[['종목코드','주식수(계약수)','시가총액 구성비중']]

        filter = df['시가총액 구성비중'] > 0
        df = df[filter]
        
        total = df['시가총액 구성비중'].sum()
        if 95 < total < 105:
            df_collect = pd.merge(df_collect,df, on ='종목코드', suffixes = ('_1','_2'),how = 'outer')
            df_collect['주식수(계약수)'] = df_collect[['주식수(계약수)_1', '주식수(계약수)_2']].values.tolist()
            df_collect['시가총액 구성비중'] = df_collect[['시가총액 구성비중_1', '시가총액 구성비중_2']].values.tolist()

            df_collect['주식수(계약수)'] = df_collect['주식수(계약수)'].apply(flatten_nested_list)
            df_collect['시가총액 구성비중'] = df_collect['시가총액 구성비중'].apply(flatten_nested_list)
            
            df_collect.drop(['주식수(계약수)_1', '주식수(계약수)_2'], axis=1, inplace=True)
            df_collect.drop(['시가총액 구성비중_1', '시가총액 구성비중_2'], axis=1, inplace=True)

            #print(df.head(5))
    
    date_obj -= timedelta(days=1)

df_collect['주식수(계약수)'] = df_collect['주식수(계약수)'].apply(lambda x : x[1:])
df_collect['시가총액 구성비중'] = df_collect['시가총액 구성비중'].apply(lambda x : x[1:])

# etf정보 가져오기

In [1]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import requests as rq
from bs4 import BeautifulSoup
import re
from tqdm import tqdm
import time

engine = create_engine('mysql+pymysql://root:12341234@127.0.0.1:3306/etf')

etf_ticker = pd.read_sql("""
select * from etf_info
""",con = engine)
etf_ticker
# 표준코드와 상장일 사용
# 6개월 계산 값이 상장일 보다 작으면 나가기

,표준코드,단축코드,종목명,상장일
0,KR7069500007,69500,삼성 KODEX200 증권상장지수투자신탁[주식],2002-10-14
1,KR7069660009,69660,키움 KOSEF 200 상장지수증권투자신탁[주식],2002-10-14
2,KR7091160002,91160,삼성 KODEX 반도체 증권상장지수투자신탁[주식],2006-06-27
3,KR7091170001,91170,삼성 KODEX 은행 증권상장지수투자신탁[주식],2006-06-27
4,KR7091180000,91180,삼성 KODEX 자동차 증권상장지수투자신탁[주식],2006-06-27
...,...,...,...,...
851,KR7480260009,480260,미래에셋 TIGER 27-04회사채(A+이상)액티브증권상장지수투자신탁(채권),2024-04-23
852,KR7480310002,480310,미래에셋 TIGER 글로벌온디바이스AI증권상장지수투자신탁(주식),2024-04-16
853,KR7480460005,480460,우리 WOORI 한국부동산TOP3플러스부동산상장지수투자신탁[재간접형],2024-04-30
854,KR7481050003,481050,삼성 KODEX 1년은행CD플러스액티브증권상장지수투자신탁[채권혼합-파생형](합성),2024-04-23
855,KR7481060002,481060,삼성 KODEX 미국30년국채+12%프리미엄증권상장지수투자신탁[채권-파생형](합성 H),2024-04-30

In [157]:
df_collect

,종목코드,주식수(계약수),시가총액 구성비중
0,005930,"[6954.0, 6954.0, 6954.0, 6954.0, 6954.0, 6954....","[30.92, 30.65, 30.95, 31.19, 31.49, 30.9, 31.0..."
1,000660,"[804.0, 804.0, 804.0, 804.0, 804.0, 804.0, 804...","[8.03, 8.13, 8.3, 8.06, 8.33, 8.09, 8.1, 8.28,..."
2,005380,"[199.0, 199.0, 199.0, 199.0, 199.0, 199.0, 199...","[2.87, 2.88, 2.88, 2.92, 2.89, 2.92, 2.86, 2.7..."
3,068270,"[241.0, 241.0, 241.0, 241.0, 241.0, 241.0, 241...","[2.61, 2.54, 2.47, 2.51, 2.49, 2.55, 2.53, 2.4..."
4,000270,"[356.0, 356.0, 356.0, 356.0, 356.0, 356.0, 356...","[2.41, 2.42, 2.44, 2.44, 2.38, 2.43, 2.41, 2.3..."
...,...,...,...
195,280360,"[3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, ...","[0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.0..."
196,001430,"[17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17....","[0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.0..."
197,271940,"[15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15....","[0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.0..."
198,014820,"[8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, ...","[0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.0..."
199,300720,"[22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22....","[0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.0..."

In [85]:
date_str = "20240419"

# 주어진 문자열을 datetime 객체로 변환
date_obj = datetime.strptime(date_str, "%Y%m%d").date()

# 6개월 전의 날짜 계산
six_months_ago = date_obj - timedelta(days=30*6)

# 주어진 날짜부터 6개월 전까지의 날짜를 출력
while date_obj >= six_months_ago:
    print(repr(date_obj))
    date_obj -= timedelta(days=1)

datetime.date(2024, 4, 19)
datetime.date(2024, 4, 18)
datetime.date(2024, 4, 17)
datetime.date(2024, 4, 16)
datetime.date(2024, 4, 15)
datetime.date(2024, 4, 14)
datetime.date(2024, 4, 13)
datetime.date(2024, 4, 12)
datetime.date(2024, 4, 11)
datetime.date(2024, 4, 10)
datetime.date(2024, 4, 9)
datetime.date(2024, 4, 8)
datetime.date(2024, 4, 7)
datetime.date(2024, 4, 6)
datetime.date(2024, 4, 5)
datetime.date(2024, 4, 4)
datetime.date(2024, 4, 3)
datetime.date(2024, 4, 2)
datetime.date(2024, 4, 1)
datetime.date(2024, 3, 31)
datetime.date(2024, 3, 30)
datetime.date(2024, 3, 29)
datetime.date(2024, 3, 28)
datetime.date(2024, 3, 27)
datetime.date(2024, 3, 26)
datetime.date(2024, 3, 25)
datetime.date(2024, 3, 24)
datetime.date(2024, 3, 23)
datetime.date(2024, 3, 22)
datetime.date(2024, 3, 21)
datetime.date(2024, 3, 20)
datetime.date(2024, 3, 19)
datetime.date(2024, 3, 18)
datetime.date(2024, 3, 17)
datetime.date(2024, 3, 16)
datetime.date(2024, 3, 15)
datetime.date(2024, 3, 14)
datetime.date(2024, 3, 13)
datetime.date(2024, 3, 12)
datetime.date(2024, 3, 11)
datetime.date(2024, 3, 10)
datetime.date(2024, 3, 9)
datetime.date(2024, 3, 8)
datetime.date(2024, 3, 7)
datetime.date(2024, 3, 6)
datetime.date(2024, 3, 5)
datetime.date(2024, 3, 4)
datetime.date(2024, 3, 3)
datetime.date(2024, 3, 2)
datetime.date(2024, 3, 1)
datetime.date(2024, 2, 29)
datetime.date(2024, 2, 28)
datetime.date(2024, 2, 27)
datetime.date(2024, 2, 26)
datetime.date(2024, 2, 25)
datetime.date(2024, 2, 24)
datetime.date(2024, 2, 23)
datetime.date(2024, 2, 22)
datetime.date(2024, 2, 21)
datetime.date(2024, 2, 20)
datetime.date(2024, 2, 19)
datetime.date(2024, 2, 18)
datetime.date(2024, 2, 17)
datetime.date(2024, 2, 16)
datetime.date(2024, 2, 15)
datetime.date(2024, 2, 14)
datetime.date(2024, 2, 13)
datetime.date(2024, 2, 12)
datetime.date(2024, 2, 11)
datetime.date(2024, 2, 10)
datetime.date(2024, 2, 9)
datetime.date(2024, 2, 8)
datetime.date(2024, 2, 7)
datetime.date(2024, 2, 6)
datetime.date(2024, 2, 5)
datetime.date(2024, 2, 4)
datetime.date(2024, 2, 3)
datetime.date(2024, 2, 2)
datetime.date(2024, 2, 1)
datetime.date(2024, 1, 31)
datetime.date(2024, 1, 30)
datetime.date(2024, 1, 29)
datetime.date(2024, 1, 28)
datetime.date(2024, 1, 27)
datetime.date(2024, 1, 26)
datetime.date(2024, 1, 25)
datetime.date(2024, 1, 24)
datetime.date(2024, 1, 23)
datetime.date(2024, 1, 22)
datetime.date(2024, 1, 21)
datetime.date(2024, 1, 20)
datetime.date(2024, 1, 19)
datetime.date(2024, 1, 18)
datetime.date(2024, 1, 17)
datetime.date(2024, 1, 16)
datetime.date(2024, 1, 15)
datetime.date(2024, 1, 14)
datetime.date(2024, 1, 13)
datetime.date(2024, 1, 12)
datetime.date(2024, 1, 11)
datetime.date(2024, 1, 10)
datetime.date(2024, 1, 9)
datetime.date(2024, 1, 8)
datetime.date(2024, 1, 7)
datetime.date(2024, 1, 6)
datetime.date(2024, 1, 5)
datetime.date(2024, 1, 4)
datetime.date(2024, 1, 3)
datetime.date(2024, 1, 2)
datetime.date(2024, 1, 1)
datetime.date(2023, 12, 31)
datetime.date(2023, 12, 30)
datetime.date(2023, 12, 29)
datetime.date(2023, 12, 28)
datetime.date(2023, 12, 27)
datetime.date(2023, 12, 26)
datetime.date(2023, 12, 25)
datetime.date(2023, 12, 24)
datetime.date(2023, 12, 23)
datetime.date(2023, 12, 22)
datetime.date(2023, 12, 21)
datetime.date(2023, 12, 20)
datetime.date(2023, 12, 19)
datetime.date(2023, 12, 18)
datetime.date(2023, 12, 17)
datetime.date(2023, 12, 16)
datetime.date(2023, 12, 15)
datetime.date(2023, 12, 14)
datetime.date(2023, 12, 13)
datetime.date(2023, 12, 12)
datetime.date(2023, 12, 11)
datetime.date(2023, 12, 10)
datetime.date(2023, 12, 9)
datetime.date(2023, 12, 8)
datetime.date(2023, 12, 7)
datetime.date(2023, 12, 6)
datetime.date(2023, 12, 5)
datetime.date(2023, 12, 4)
datetime.date(2023, 12, 3)
datetime.date(2023, 12, 2)
datetime.date(2023, 12, 1)
datetime.date(2023, 11, 30)
datetime.date(2023, 11, 29)
datetime.date(2023, 11, 28)
datetime.date(2023, 11, 27)
datetime.date(2023, 11, 26)
datetime.date(2023, 11, 25)
datetime.date(2023, 11, 24)
datetime.date(2023, 11, 23)
datetime.date(2023, 11, 22)
datetime.date(2023, 11, 21)
datetime.date(2023, 11, 20)
datetime.date(2023, 11, 19)
datetime.date(2023, 11, 18)
datetime.date(2023, 11, 17)
datetime.date(2023, 11, 16)
datetime.date(2023, 11, 15)
datetime.date(2023, 11, 14)
datetime.date(2023, 11, 13)
datetime.date(2023, 11, 12)
datetime.date(2023, 11, 11)
datetime.date(2023, 11, 10)
datetime.date(2023, 11, 9)
datetime.date(2023, 11, 8)
datetime.date(2023, 11, 7)
datetime.date(2023, 11, 6)
datetime.date(2023, 11, 5)
datetime.date(2023, 11, 4)
datetime.date(2023, 11, 3)
datetime.date(2023, 11, 2)
datetime.date(2023, 11, 1)
datetime.date(2023, 10, 31)
datetime.date(2023, 10, 30)
datetime.date(2023, 10, 29)
datetime.date(2023, 10, 28)
datetime.date(2023, 10, 27)
datetime.date(2023, 10, 26)
datetime.date(2023, 10, 25)
datetime.date(2023, 10, 24)
datetime.date(2023, 10, 23)
datetime.date(2023, 10, 22)

In [86]:
date.today()

datetime.date(2024, 5, 1)

In [ ]:
url = 'http://data.krx.co.kr/comm/fileDn/GenerateOTP/generate.cmd'
    payload = {
        "locale": "ko_KR",
        "tboxisuCd_finder_secuprodisu1_1": "451060/1Q K200액티브",
        "isuCd": "KR7451060008",
        "isuCd2" : "", 
        "codeNmisuCd_finder_secuprodisu1_1": "1Q K200액티브", 
        "param1isuCd_finder_secuprodisu1_1": "", 
        "trdDd": date_possible,
        "share": "1",
        "money": "1",
        "csvxls_isNo": "false",
        "name": "fileDown",
        "url": "dbms/MDC/STAT/standard/MDCSTAT05001"
    }

In [139]:
url = 'http://data.krx.co.kr/comm/fileDn/GenerateOTP/generate.cmd'
payload = {
    "locale": "ko_KR",
    "isuCd": "KR7451060008",
    "isuCd2" : "", 
    "param1isuCd_finder_secuprodisu1_1": "", 
    "trdDd": "20240419",
    "share": "1",
    "money": "1",
    "csvxls_isNo": "false",
    "name": "fileDown",
    "url": "dbms/MDC/STAT/standard/MDCSTAT05001"
}
headers = {
    'Referer' : 'http://data.krx.co.kr/contents/MDC/MDI/mdiLoader'
}
code = rq.post(url,payload,headers = headers).text

In [140]:
down_url = "http://data.krx.co.kr/comm/fileDn/download_csv/download.cmd"
down_payload = {
    "code" : code
}
headers = {
    'Referer' : 'http://data.krx.co.kr/contents/MDC/MDI/mdiLoader'
}
etf_individual = rq.post(down_url , down_payload , headers = headers)
pd.read_csv(BytesIO(etf_individual.content) , encoding = 'EUC_KR')

             종목코드    구성종목명  주식수(계약수)         평가금액       시가총액  시가총액 구성비중
0          005930     삼성전자    6954.0  553538400.0  539630400      32.07
1          000660   SK하이닉스     804.0  146569200.0  139333200       8.28
2          005380      현대차     199.0   45969000.0   46765000       2.78
3          068270     셀트리온     241.0   42681100.0   41668900       2.48
4          000270       기아     356.0   39943200.0   39302400       2.34
..            ...      ...       ...          ...        ...        ...
196        001430  세아베스틸지주      17.0     347650.0     349350       0.02
197        271940  일진하이솔루스      15.0     332250.0     319500       0.02
198        014820   동원시스템즈       8.0     326400.0     318400       0.02
199        300720    한일시멘트      22.0     275220.0     275220       0.02
200  KRD010010001     원화현금       NaN          NaN  -21299512      -1.27

[201 rows x 6 columns]

In [144]:
url = 'http://data.krx.co.kr/comm/fileDn/GenerateOTP/generate.cmd'
payload = {
    "locale": "ko_KR",
    "tboxisuCd_finder_secuprodisu1_1": "451060/1Q K200액티브",
    "isuCd": "KR7451060008",
    "isuCd2" : "", 
    "codeNmisuCd_finder_secuprodisu1_1": "1Q K200액티브", 
    "param1isuCd_finder_secuprodisu1_1": "", 
    "trdDd": "20240419",
    "share": "1",
    "money": "1",
    "csvxls_isNo": "false",
    "name": "fileDown",
    "url": "dbms/MDC/STAT/standard/MDCSTAT05001"
}
headers = {
    'Referer' : 'http://data.krx.co.kr/contents/MDC/MDI/mdiLoader'
}
code = rq.post(url,payload,headers = headers).text

In [145]:
down_url = "http://data.krx.co.kr/comm/fileDn/download_csv/download.cmd"
down_payload = {
    "code" : code
}
headers = {
    'Referer' : 'http://data.krx.co.kr/contents/MDC/MDI/mdiLoader'
}
etf_individual = rq.post(down_url , down_payload , headers = headers)

In [146]:
from io import BytesIO
pd.read_csv(BytesIO(etf_individual.content) , encoding = 'EUC_KR')

             종목코드    구성종목명  주식수(계약수)         평가금액       시가총액  시가총액 구성비중
0          005930     삼성전자    6954.0  553538400.0  539630400      32.07
1          000660   SK하이닉스     804.0  146569200.0  139333200       8.28
2          005380      현대차     199.0   45969000.0   46765000       2.78
3          068270     셀트리온     241.0   42681100.0   41668900       2.48
4          000270       기아     356.0   39943200.0   39302400       2.34
..            ...      ...       ...          ...        ...        ...
196        001430  세아베스틸지주      17.0     347650.0     349350       0.02
197        271940  일진하이솔루스      15.0     332250.0     319500       0.02
198        014820   동원시스템즈       8.0     326400.0     318400       0.02
199        300720    한일시멘트      22.0     275220.0     275220       0.02
200  KRD010010001     원화현금       NaN          NaN  -21299512      -1.27

[201 rows x 6 columns]